* {
  box-sizing: border-box;
}
body{
  max-width: 1288px;
  margin: 0;
  padding: 0;
  color:#FFFFFF;
  background-color: #252B42;

}

header{
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  height: 110vh;
  width: 1500px;
  /* margin: 0;
  padding: 0;  */
}
nav{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  font-family: 'Open Sans';  
  font-size: 14px;
}
.logo{
  color: white;
  font-size: 24px;
  margin-right: 20%;
  margin-left: 5%;
  font-family: 'Martel';
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px; 
}
nav ul li a{
  color: white;
  text-decoration: none;
  font-weight: bold;
}
button{
  border: none;
  background: #FFFFFF;
}