@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;1,200&family=Martel:wght@200&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
}

body {
  max-width: 1288px;
  margin: 0;
  padding: 0;
  color: #FFFFFF;
  background-color: #252B42;

}

header {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  height: 110vh;
  width: 1500px;
  /* margin: 0;
  padding: 0;  */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  font-family: 'Open Sans';
  font-size: 14px;
}

.logo {
  color: white;
  font-size: 24px;
  margin-right: 20%;
  margin-left: 5%;
  font-family: 'Martel';
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  max-width: 500px;
  height: auto;
  color: #FFFFFF;
  padding: 0;
  margin: 0;
  margin-left: 300px;
}

.content .par {
  font-family: 'Montserrat';
  line-height: 30px;
  font-size: 20px;
  width: 930px;
}

.content h2 {
  padding-top: 150px;
  font-size: 58px;
}

.bth {
  padding: 10px 36px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  margin-right: 20px;


  background: rgba(0, 0, 0, 0.1);
}

.bth.cn {
  background: #D0A144;
  border-radius: 37px;
}

/* .email {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  color: #252B42;
  max-width: 330px;
  height: 630px;
  margin-left: auto;
  margin-top: -450px;
  margin-right: 300px;

  border-radius: 10px;
  text-align: center;

} */
.card-item {
display: flex;
flex-direction: column;
background-color: #FFFFFF;
color: #252B42;
margin-left: 720px;
width: 20vw;
padding: 15px 15px;
margin-top: -450px;
height: 560px;
border-radius: 10px;
}
.button-adress {
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color:  #737373;
}

.button-adress.blue {
  background-color: #295C7A;
  color: #FFFFFF;
  text-align: center;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
}

.header {
  text-align: center;
  color: #FFFFFF;
  font-size: 40px;
}

.par {
  font-size: 18px;
  font-family: 'Open Sans';
  letter-spacing: 0.2px;
}

.header {
  display: block;
}

.row {
  /* Строка */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 200px;
  margin-bottom: 750px;
}

.col-4 {
  width: 70px;
  height: 300px;
  background-color: #F6E4D7;
  color: #252B42;
  font-size: 16px;
  border-radius: 10px;
}

.card-image {
  border-radius: 50px;
}

.col-4 {
  flex: 33.3% 0 0;
}

.men {
  width: 870px;
  height: 430px;
  margin: 0 auto;
  margin-left: 250px;
}

h3 {
  font-size: 45px;
  color: #FFFFFF;
  text-align: center;
}

p {
  text-align: center;
  font-size: 16px;
  font-family: 'Open Sans';
}

.fon {
  width: 113%;
  height: 40%;
  background: rgba(0, 0, 0, 0.5);
  margin-bottom: -650px;
}

h4 {
  font-size: 30px;
  text-align: center;
}

.reviews {
  background-color: #FFFFFF;
  border-radius: 10px;
  width: 100px;
  height: 90px;
}