@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@0,200;1,200&family=Martel:wght@200&family=Montserrat:wght@200&family=Open+Sans:wght@300&family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #252b42;
}

header {
  background-image: url(./image/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 110vh;

  /* margin: 0;
  padding: 0;  */
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  font-family: "Open Sans";
  font-size: 14px;
}

.logo {
  color: white;
  font-size: 24px;
  margin-right: 20%;
  margin-left: 5%;
  font-family: "Martel";
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  max-width: 500px;
  height: auto;
  color: #ffffff;
  padding: 0;
  margin: 0;
}

.content .par {
  font-family: "Montserrat";
  line-height: 30px;
  font-size: 20px;
  width: 930px;
}

.content h2 {
  padding-top: 150px;
  font-size: 58px;
}

.bth {
  padding: 10px 36px;
  color: white;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 14px;
  line-height: 28px;
  border-radius: 30px;
  border: 2px solid white;
  text-align: center;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.1);
}

.bth.cn {
  background: #d0a144;
  border-radius: 37px;
}

.card-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  color: #252b42;
  margin-left: 820px;
  width: 20vw;
  padding: 15px 20px;
  margin-top: -450px;
  height: 560px;
  border-radius: 10px;
}
.registration-adress {
  background-color: #f9f6f6cb;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #737373;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  font-family: 'Open Sans';
}

.button-adress.blue {
  background-color: #295c7a;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
  padding: 20px 25px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.header {
  text-align: center;
  color: #ffffff;
  font-size: 40px;
}

.par {
  font-size: 18px;
  font-family: "Open Sans";
  letter-spacing: 0.2px;
  color: #ffffff;
  margin-bottom: 40px;
}
.container {
  /*задать ширину и выровнять по середине*/
  max-width: 1400px;
  margin: 0 auto;
}
.row {
  /*строка*/
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 20px;
}
[class^="col"] {
  padding: 0 10px;
}

.col-4 {
  /* 100% / 12 * 4 */
  flex-basis: 33.3%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-3 {
  flex-basis: 33.3%;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

}
.col-2 {
  flex-basis: 16.6%;
  flex-grow: 1;
  flex-shrink: 1;
}
.col-12 {
  flex: 100% 0 0;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}

.card {
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 0 0 10px 5px rgba(16, 15, 15, 0.47);
  margin-bottom: 20px;
  padding-right: -70px;
}
.card .card-image {
  width: 100%;
}
.card .card-content {
  padding: 10px 15px;
}
.card.card-horizontal {
  display: flex;
}
.card.card-horizontal .card-image {
  width: 30%;
}
.card-header {
  background-color: rgba(246, 228, 215, 1);
  display: flex;
  justify-content: flex-start;
  color: #252B42;
  text-align: start;
  height: 15vh;
}
.card-content{
  color: #737373;
  font-size: 14px;
}
.ellipse{
  display: flex;
}
.card-image2{
  width: 50%;
}
.ellipse h1{
  color: #D0A144;
  font-size: 18px;
}
.card-header img{
  width: 100%;
  border-radius: 50%;
}
.card-header-img {
  padding: 3vh 1vw;
}
span{
  color: #D0A144;
}
.practice{
  margin-bottom: 550px;
}
.practice-content {
  max-width: 80%;
  margin: 0 auto;
}
.practice .card {
  border-radius: 10px;
  width: 18vw;
  margin: 0;
}
.practice .card-header h5{
font-size: 16px;
padding: 7vh 1vw;
padding-left: 0;
}
.who{
margin-bottom: 170px;
}
.men {
  width: 870px;
  height: 430px;
  margin: 0 auto;
  margin-left: 350px;
}

h3 {
  font-size: 45px;
  color: #ffffff;
  text-align: center;
}

p {
  text-align: center;
  font-size: 16px;
  font-family: "Open Sans";
}


.fon{
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 45%;
  margin-bottom: -780px;
}


h4 {
  font-size: 30px;
  text-align: center;
}

.row.new {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: 900px;
  height: 200px;
  font-size: 20px;
  margin: 0 auto;

}
.row.new img{
  width: 70px;
  margin-top: 15px;
  
}
.row.new .card-content{
  font-size: 14px;
  font-family: 'Open Sans';
  margin-left: 10px ;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
}
.row.new .card-image2{
  width: 50px;
  margin-left: 25px;
}
.row.new .card-image3{
  margin-left: 20px;
}
.row.new p{
  color:#252B42;
}
.row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.meet{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 50px;
}
.meet .card-content{
  display: flex;
  margin: 0 auto;
  text-align: center;
  font-size: 15px ;

}
.iconka{
  width: 8%;
  height: 8%;
  display: flex;
  flex-direction: row;

}
.reviews{
  margin-bottom: 150px;
}
.registration{
  background: url(./image/cover4.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
}
.registration-content {
  width: 40%;
  padding-top: 10vh;
}
.full-name-adress{
  background-color: ffffff;
  color:#BDBDBD;
  padding: 10px 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 14px;
  border: 1px solid #BDBDBD;
  border-radius: 5px;
  font-family: 'Open Sans';
}
.
.card-us{
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  border-radius: 10px;
}
.card-us .full-name {
  display: flex;
}
.card-us .select {
  display: flex;
}
.registration-content p{
  text-align: start;
  font-size: 16px;
  font-family: 'Martel';
  margin: 0;
  padding: 0;
}
h5{
font-size: 25px;
margin: 0;
padding: 0;
}
.button-adress.orange{
  background: #D0A144;
  color: #ffffff;
  text-align: center;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
}
.free{
  background: white;
  color:#252B42;


}
.free-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 70%;
  height: 15vh;
  margin: 0 auto;
}
.free-content-left-side h5 {
  margin: 0;
  padding: 0;
  margin-top: 5vh;
}
.free-content-left-side p{
  color: #737373;
  margin: 0;
  padding: 0;
}
.free-button {
  background: #D0A144;
  color: #ffffff;
  text-align: center;
  padding: 0;
  height: 5vh;
  margin-top: 25px;
  border: none;
  border-radius: 5px;
}
.Litigade{
  display: flex;
  flex-wrap: wrap;
  margin-top: 150px;
  justify-content: space-between;
  flex-direction: row;

}
.Litigade{
  border-bottom: 1px solid #364067;
  width: 80%;
  text-align: center;
}
.imge{
  margin-left: 850px;
  display: inline-block;
}
.facebook{
  display: inline;
  font-size: 28px;
}
.footer-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
h6{
  font-size: 16px;
}
footer ul {
  list-style-type: none;
  color: #ffffff;
}
a{
  text-decoration: none;
}
ul li a{
  color: #ffffff;
}
